{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/staticfiles/css/bootstrap.min.css">
    <link rel="stylesheet" href="/staticfiles/icons/bootstrap-icons.css">
    <script src="/staticfiles/js/bootstrap.min.js"></script>
    <script src="/staticfiles/js/bootstrap.js"></script>
    <script src="/staticfiles/js/bootstrap.bundle.js"></script>

    {% comment %} <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'icons/bootstrap-icons.css' %}"> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script> {% endcomment %}
    <title>
        {% block title %}
          Default Value
        {% endblock %}
    </title>
</head>
<body>
    {% comment %} <nav >This is our navbar</nav> {% endcomment %}
    {% include "navbar.html" %}
    {% block content %}{% endblock %}
    {% include "footer.html" %}
    {% comment %} <footer>This is Footer</footer> {% endcomment %}
</body>
</html>